<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/styles.css">
    <title>Search Page</title>
</head>
<body>
    <h2>Search Values</h2>
    <form action="/search" method="post">
        <label for="searchTerm">Search Term:</label>
        <input type="text" id="searchTerm" name="searchTerm" required>
        <br>
        <button type="submit">Search</button>
    </form>
    
    <li><a th:href="@{/}" href="#">Home</a></li>


    <div class="login-page">
        <h3><center>Search petitions</h3></center>
            <div class="form">              
                <p th:if="${not #strings.isEmpty(searchTerm)}">Results for <strong th:text="${searchTerm}"></strong>:</p>
                <th:block th:if="${not #lists.isEmpty(userList)}">
                    <ul>
            <li th:each="user : ${userList}">
                <span th:text="${user.name}"></span> - <span th:text="${user.email}"></span>
            </li>
        </ul>
    </th:block>
    <th:block th:if="${#lists.isEmpty(userList)}">
        <p>No results found.</p>
    </th:block>
            </div>
          </div>





</body>
</html>